.resets() {
  .geometry-reset() {
    margin: 0;
    padding: 0;
  }
  .text-reset() {
    font-weight: normal;
  }
  .button-reset() {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
  }
  .select-reset() {
    border: 0;
    font: inherit;
    appearance: none;
    background-color: transparent;
  }
}

.select-arrow() {
  background-image: url('../images/select-arrow.svg');
  background-position: right;
  background-repeat: no-repeat;
}

.square-box(@size) {
  width: @size;
  height: @size;
}

//icons in project boxes
.project-box-icons(@n) when (@n > 0) {
  .project-box-icons((@n - 1));
  &:nth-of-type(@{n}) .box__heading::before {
    background-image: url('../images/project-box-icon-@{n}.svg');
  }
}

//animation duration for project boxes appearing
.animation-dur (@n) when (@n > 0) {
  .animation-dur((@n - 1));
  &:nth-of-type(@{n}) {
    animation-duration: ((@n * 1s) - .5);
  }
}















//never used
.centering() {
  .abs-centering-xy() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .abs-centering-x() {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .flex-centering() {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.flex-justifying() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
//never used
