@breaks: {
  xs: 320px;
  s: 540px;
  m: 768px;
  l: 1024px;
};

@proxima-nova: 'Proxima-Nova', 'Arial', 'Helvetica', sans-serif;

@font-colors: {
  dark: #000000;
  light: #6d6e71;
};

@bg-colors: {
  white: #ffffff;
  page: #f7f7f7;
  checkbox: #c2c2bf;
  checkbox-select: #f40e0e;
  list-item: #fcfcfc;
};

@border-colors: {
  checkbox: #bcbec0;
  select: #dcddde;
};

@shadows: {
  dark: #efefef;
  light: #f5f5f5;
};
