/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/* Sections
 * ========================================================================== */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}
/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
/**
 * Add the correct display in IE.
 */
main {
  display: block;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/* Embedded content
 * ========================================================================== */
/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0;
}
/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}
/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible;
}
/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}
/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}
/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 */
textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none;
}
/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block;
}
/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
dialog:not([open]) {
  display: none;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* User interaction
 * ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
@font-face {
  font-family: 'Proxima-Nova';
  src: url('../fonts/proximanova-regular-webfont.woff') format('woff'), url('../fonts/proximanova-regular-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima-Nova';
  src: url('../fonts/proximanova-bold-webfont.woff') format('woff'), url('../fonts/proximanova-bold-webfont.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima-Nova';
  src: url('../fonts/proximanova-light-webfont.woff') format('woff'), url('../fonts/proximanova-light-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
main {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Proxima-Nova', 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  color: #000000;
  background-color: #f7f7f7;
  overflow-x: hidden;
}
.container {
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 0 7%;
}
@media (min-width: 1024px) {
  .container {
    width: 984px;
    padding: 0;
    margin: 0 auto;
  }
}
section {
  margin-bottom: 55px;
}
.heading {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  margin: 55px 0 40px 0;
}
@media (min-width: 540px) {
  .project-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: calc(55px - 20px);
  }
}
.project-form {
  padding: 30px;
  padding-bottom: 50px;
  background-color: #ffffff;
}
.project-form__heading {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 15px;
}
.button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  display: inline-block;
  padding: 5px 35px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 5px;
}
.button--primary {
  background-color: #ffed35;
  border: 2px solid #ffed35;
  -webkit-transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}
.button--primary:hover {
  border-color: #f5e864;
  background-color: #f5e864;
  color: #ffffff;
}
.button--primary:active {
  border-color: #c2c2bf;
  background-color: #c2c2bf;
}
.button--secondary {
  color: #4c6b89;
  border: 2px solid #4c6b89;
  -webkit-transition: border-color 0.3s, color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, color 0.3s, background-color 0.3s;
}
.button--secondary:hover {
  border-color: transparent;
  color: #ffffff;
  background-color: #386c8c;
}
.button--secondary:active {
  background-color: #002641;
}
.list__checkbox-label {
  position: relative;
  padding-left: 50px;
}
.list__checkbox-label input[type="checkbox"]:focus ~ .list__checkbox {
  outline: thin dotted;
  outline: 2px auto -webkit-focus-ring-color;
}
.list__checkbox-label input[type="checkbox"] ~ .list__checkbox {
  position: absolute;
  top: 3px;
  left: 15px;
  width: 20px;
  height: 20px;
  border: 1px solid #bcbec0;
  border-radius: 3px;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.list__checkbox-label input[type="checkbox"] ~ .list__checkbox::before,
.list__checkbox-label input[type="checkbox"] ~ .list__checkbox::after {
  content: '';
  position: absolute;
  width: 2px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.list__checkbox-label input[type="checkbox"] ~ .list__checkbox::before {
  top: 7px;
  left: 5px;
  height: 7px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.list__checkbox-label input[type="checkbox"] ~ .list__checkbox::after {
  top: 4px;
  left: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.list__checkbox-label input[type="checkbox"] ~ .list__checkbox:hover {
  border-color: transparent;
  background-color: #c2c2bf;
}
.list__checkbox-label input[type="checkbox"]:checked ~ .list__checkbox {
  border-color: transparent;
  background-color: #f40e0e;
}
.list__checkbox-label input[type="checkbox"]:checked ~ .list__checkbox::before,
.list__checkbox-label input[type="checkbox"]:checked ~ .list__checkbox::after {
  background-color: #ffffff;
}
@media (min-width: 540px) {
  .list__checkbox-label {
    padding-left: 65px;
  }
}
.input__label {
  color: #6d6e71;
  text-transform: capitalize;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.input__label:hover,
.input__label:active,
.input__label:focus {
  color: #000000;
}
.input__label:hover .input,
.input__label:active .input,
.input__label:focus .input {
  border-color: #c2c2c2;
}
.input__label:hover .input::-webkit-input-placeholder,
.input__label:active .input::-webkit-input-placeholder,
.input__label:focus .input::-webkit-input-placeholder {
  color: transparent;
}
.input__label:hover .input::-moz-placeholder,
.input__label:active .input::-moz-placeholder,
.input__label:focus .input::-moz-placeholder {
  color: transparent;
}
.input__label:hover .input:-ms-input-placeholder,
.input__label:active .input:-ms-input-placeholder,
.input__label:focus .input:-ms-input-placeholder {
  color: transparent;
}
.input__label:hover .input::-ms-input-placeholder,
.input__label:active .input::-ms-input-placeholder,
.input__label:focus .input::-ms-input-placeholder {
  color: transparent;
}
.input__label:hover .input::placeholder,
.input__label:active .input::placeholder,
.input__label:focus .input::placeholder {
  color: transparent;
}
.input__label--required {
  position: relative;
}
.input__label--required::before {
  content: '*';
  position: absolute;
  top: 0;
  left: 40px;
  color: #e43b59;
}
.input,
.input--select {
  margin: 0;
  padding: 0;
}
.input {
  border: 0;
  font: inherit;
}
.input--select {
  border: 0;
  font: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
}
.input {
  border-bottom: 2px solid #dcddde;
  cursor: pointer;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.input::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
  text-transform: capitalize;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.input::-moz-placeholder {
  color: #000000;
  opacity: 1;
  text-transform: capitalize;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.input:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
  text-transform: capitalize;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.input::-ms-input-placeholder {
  color: #000000;
  opacity: 1;
  text-transform: capitalize;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.input::placeholder {
  color: #000000;
  opacity: 1;
  text-transform: capitalize;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.input--select {
  background-image: url('../images/select-arrow.svg');
  background-position: right;
  background-repeat: no-repeat;
  -webkit-transition: background-image 0.3s;
  transition: background-image 0.3s;
  text-transform: capitalize;
}
.input--select:hover,
.input--select:active,
.input--select:focus {
  background-image: url('../images/select-arrow-hover.svg');
}
.input--select option {
  color: #6d6e71;
}
.list {
  margin: 0;
  padding: 0;
}
.list__headline {
  display: none;
}
.list__item {
  margin: 0;
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  background-color: #fcfcfc;
  -webkit-transition: background-color 0.3s, box-shadow 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.list__item:hover,
.list__item:active {
  z-index: 2;
  background-color: #ffffff;
  box-shadow: 0 3px 2px 0 #efefef, 0 -3px 2px 0 #f5f5f5;
}
.list__grouper {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5px;
}
.list__label {
  color: #6d6e71;
  line-height: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
.list__info {
  line-height: 20px;
}
.list__info--num {
  text-transform: uppercase;
}
.list__info--status {
  border: 0;
  font: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  min-width: 110px;
  border-bottom: 2px solid #dcddde;
  background-image: url('../images/select-arrow.svg');
  background-position: right;
  background-repeat: no-repeat;
  -webkit-transition: background-image 0.3s;
  transition: background-image 0.3s;
}
.list__info--status:hover,
.list__info--status:active,
.list__info--status:focus {
  background-image: url('../images/select-arrow-hover.svg');
}
.list__info--status option {
  color: #6d6e71;
  font-weight: 400;
}
@media (min-width: 540px) {
  .list__grouper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 10px;
  }
  .list__label {
    min-width: 100px;
    margin-left: 10px;
  }
}
@media (min-width: 768px) {
  .list__headline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 11px 0;
    background-color: #ffffff;
  }
  .list__select-wrapper {
    margin: 0;
    padding: 0;
    min-width: 200px;
  }
  .list__heading {
    border: 0;
    font: inherit;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    padding-right: 15px;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    background-image: url('../images/select-arrow.svg');
    background-position: right;
    background-repeat: no-repeat;
    -webkit-transition: background-image 0.3s;
    transition: background-image 0.3s;
  }
  .list__heading:hover,
  .list__heading:active,
  .list__heading:focus {
    background-image: url('../images/select-arrow-hover.svg');
  }
  .list__item {
    padding: 12px 0;
  }
  .list__item:hover .list__info,
  .list__item:active .list__info {
    color: #000000;
  }
  .list__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .list__grouper {
    min-width: 200px;
    margin-bottom: 0;
  }
  .list__label {
    display: none;
  }
  .list__info {
    line-height: 24px;
    color: #6d6e71;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
}
@media (min-width: 1024px) {
  .list__select-wrapper,
  .list__grouper {
    min-width: 280px;
  }
}
.project-box__item {
  margin-bottom: 20px;
}
@media (min-width: 540px) {
  .project-box__item {
    margin-left: 30px;
  }
}
.box {
  padding: 20px;
  background-color: #ffffff;
  -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s;
}
.box:nth-of-type(1) .box__heading::before {
  background-image: url('../images/project-box-icon-1.svg');
}
.box:nth-of-type(2) .box__heading::before {
  background-image: url('../images/project-box-icon-2.svg');
}
.box:nth-of-type(3) .box__heading::before {
  background-image: url('../images/project-box-icon-3.svg');
}
.box:nth-of-type(4) .box__heading::before {
  background-image: url('../images/project-box-icon-4.svg');
}
.box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  box-shadow: 0 0 20px 5px #e2e2e2;
}
.box:hover .box__heading::before {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
.box__heading {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  text-transform: capitalize;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box__heading::before {
  content: '';
  width: 35px;
  height: 35px;
  margin-bottom: 5px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.box__description {
  margin: 0;
  padding: 0;
  line-height: 18px;
  font-weight: 400;
  color: #6d6e71;
  text-align: center;
}
@media (min-width: 540px) {
  .box {
    width: 172px;
  }
  .box__heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 3px;
  }
  .box__heading::before {
    width: 50px;
    height: 50px;
    margin-right: 0;
    margin-bottom: 15px;
  }
}
@-webkit-keyframes showing {
  from {
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes showing {
  from {
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.showing {
  -webkit-animation-name: showing;
          animation-name: showing;
}
.showing:nth-of-type(1) {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
.showing:nth-of-type(2) {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
.showing:nth-of-type(3) {
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}
.showing:nth-of-type(4) {
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
}
.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.form__label:last-of-type {
  margin-bottom: 20px;
}
.form__button {
  width: 100%;
}
.form__button:first-of-type {
  margin-bottom: 10px;
}
@media (min-width: 540px) {
  .form__button {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .form__button:first-of-type {
    margin-bottom: 0;
    margin-right: 20px;
  }
}
@media (min-width: 768px) {
  .form__label {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form__input {
    width: 85%;
  }
}
@media (min-width: 1024px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form__label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 366px;
    margin-bottom: 20px;
    margin-right: 45px;
  }
  .form__label:last-of-type {
    margin-bottom: 20px;
  }
  .form__label:nth-of-type(2n) {
    margin-right: 0;
  }
  .form__input {
    width: 100%;
  }
  .form__button {
    margin-top: 15px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  select::-ms-expand {
    display: none;
  }
  .box__heading {
    position: relative;
    text-align: center;
    padding-top: 45px;
  }
  .box__heading::before {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .box:hover .box__heading::before {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .input {
    padding: 10px 0;
  }
  .input--select {
    padding: 5px 0;
  }
}
@media all and (-ms-high-contrast: none) and (min-width: 540px), (-ms-high-contrast: active) and (min-width: 540px) {
  .box__heading {
    padding-top: 65px;
  }
}
@media all and (-ms-high-contrast: none) and (min-width: 540px), (-ms-high-contrast: active) and (min-width: 540px) {
  .form__button:nth-of-type(1) {
    width: 132px;
  }
  .form__button:nth-of-type(2) {
    width: 106px;
  }
}

/*# sourceMappingURL=style.css.map */
